<% layout('../layout/boilerplate') -%>

<body>
  <div class="col-md-6 mx-auto mt-5">
    <h2 style="color: green;">Grievance Submitted Successfully!</h2>
    <p>Your Grievance ID is: <strong><%= grievanceId %></strong></p>
    <p>Thank you for submitting your grievance. Our team will review it and get back to you shortly.</p>
    <p>You can track the status of your grievance using the ID provided below.</p>
    <p>You can use this ID to <a href="/track">track your grievance</a></p>
  </div>
</body>
