<% layout('../layout/boilerplate') -%>
<div class="container col-md-6 mx-auto mt-5">
  <h2>Track Grievance</h2>
  <form method="POST" action="/track">
    <label class="form-label">Enter Grievance ID:</label>
    <input type="text" name="grievanceId" class="form-control mb-3"  required />
    <button type="submit" class="btn btn-success ">Track</button>
  </form>
</div>
